#override("title")  #end
#override("css")
<link
        href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')"
        rel="stylesheet">
#end #override("content")
<div class="row">
    <div class="col-sm-12">
        <table id="dataTable"></table>
    </div>
</div>
#end
#override("js")
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v3.0.3/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')?t=$!{jsrversion}"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script type="text/javascript">
    var dataUrl = "#springUrl('/perm/role/right.html?roleId=')" + '$!roleId';
    var dataColumns = [{
        field: 'id',
        title: '序号'
    }, {
        field: 'title',
        title: '标题'
    }, {
        field: 'type',
        title: '类型',
        formatter: function (value, row, index) {
            if (row.type == 0 && row.pid == 0) {
                return '<a class="btn btn-xs btn-primary">一级菜单</a> '
            }
            if (row.type == 0 && row.pid != 0) {
                return '<a class="btn btn-xs btn-success">二级菜单</a> '
            }
            if (row.type == 1) {
                return '<a class="btn btn-xs btn-info">菜单功能</a> '
            }
        }
    }, {
        field: 'state',
        title: '状态',
        formatter: function (value, row, index) {
            if (row.state == 0) {
                return '<a class="btn btn-xs btn-info">启用</a> '
            }
            if (row.state == 1) {
                return '<a class="btn btn-xs btn-primary">禁用</a> '
            }
        }
    }, {
        field: 'url',
        title: '地址'
    }, {
        field: 'permCode',
        title: '权限编码'
    }, {
        field: 'icon',
        title: '图标'
    }, {
        field: 'description',
        title: '描述'
    }, {
        title: '操作',
        formatter: function (value, row, index) {
            var id = row.id;
            if(row.enable==true){
                return '<div class="btn-group"><a class="btn btn-xs btn-danger" id="kaitongBtn_'+id+'" onclick="delPermission(' + "'" + id + "'" +')">取消</a> </div>';
            }else{
                return '<div class="btn-group"><a class="btn btn-xs btn-success" id="kaitongBtn_'+id+'" onclick="addPermission(' + "'" + id + "'" + ')">开通</a> </div>';
            }
        }
    }];

    function dataQueryParams(params) {
        return {
            _size: params.limit,  //页面大小
            _index: params.offset, //页码
        };
    }
    function delPermission(id) {
            $.ajax({
                type: "POST",
                url: "#springUrl('/perm/role/del.html?roleId=')" + '$!roleId',
                data: {"permId": id},
                datatype: "text",
                success: function (data) {
                    var d = JSON.parse(data);
                    if (d.success && d.data) {
                        $("#kaitongBtn_"+id).html('开通');
                        $("#kaitongBtn_"+id).attr('onclick','addPermission(' + "'" + id + "'" +')');
                        $("#kaitongBtn_"+id).removeClass("btn-danger").addClass("btn-success");
                    }
                }
            });
    }

    function addPermission(id) {
        $.ajax({
            type: "POST",
            url: "#springUrl('/perm/role/add.html?roleId=')" + '$!roleId',
            data: {"permId": id},
            datatype: "text",
            success: function (data) {
                var d = JSON.parse(data);
                if (d.success && d.data) {
                    $("#kaitongBtn_"+id).html('取消');
                    $("#kaitongBtn_"+id).attr('onclick','delPermission(' + "'" + id + "'" + ')');
                    $("#kaitongBtn_"+id).removeClass("btn-success").addClass("btn-danger");
                }
            }
        });
    }
</script>
#end
#extends("/common/mainlayout.html")
