#override("title")
ReadWei - 宝贝添加
#end
#override("css")
<link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
#end
#override("breadcrumb")
<li><a>商品管理</a></li>
<li class="active"><strong>添加宝贝</strong></li>
#end
#override("content")
<div class="ibox-content" style="width: 430px;">
    <form id="myForm" class="form-horizontal" autocomplete="off" data-validator-option="{theme:'default'}">
        <div class="form-group"><label class="col-sm-2 control-label">权限名称 *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" placeholder="请输入权限名称" data-rule="角色:required;">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">权限地址 *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="url" placeholder="请输入权限地址" data-rule="权限地址:required;">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">图标 *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="icon" placeholder="请输入图标" data-rule="图标:required;">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">描述</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description" placeholder="请输入简单描述" data-rule="描述:required:description;">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="text-center">
                <button class="btn btn-primary" type="submit">提 交</button>
            </div>
        </div>
    </form>
</div>
#override("js")
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script type="text/javascript">
</script>
#end
#extends("/common/framework.html")
