#override("title")
ReadWei - 宝贝添加
#end
#override("css")
<link href="#springUrl('/static/plugins/layui/css/layui.css')" rel="stylesheet">
#end
#override("breadcrumb")
<li><a>商品管理</a></li>
<li class="active"><strong>添加宝贝</strong></li>
#end
#override("content")
<div class="ibox-content">
    <form id="myForm" autocomplete="off"
          data-validator-option="{theme:'default'}"
          enctype="multipart/form-data" class="layui-form layui-form-pane">
        <input type="hidden" name="id" value="$!{goods.id}" />
        <div class="layui-form-item">
            <label class="layui-form-label">宝贝名称：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="$!{goods.name}" name="name" placeholder="请输入商品名称"
                       data-rule="商品名称:required;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">宝贝分类：</label>
            <div class="layui-input-inline">
                <select name="categoryId" class="layui-input" lay-ignore>
                    #foreach($!cate in $!category)
                    <option value="$!{cate.id}" #if($!{goods.id} == $!{cate.id}) selected #end>$!{cate.name}</option>
                    #end
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">价 格：</label>
            <div class="layui-input-inline">
                <input type="text" name="prices" placeholder="￥" value="$!{goods.prices}" class="layui-input" data-rule="价格:required;doubles;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">库 存：</label>
            <div class="layui-input-inline">
                <input type="text" name="amount" placeholder="数量" value="$!{goods.amount}" class="layui-input" data-rule="库存:required;integer;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">折 扣：</label>
            <div class="layui-input-inline">
                <input type="text" name="discount" value="$!{goods.discount}" placeholder="例如:八折输入:0.8" class="layui-input"
                       data-rule="折扣:required;doubles;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服 务：</label>
            <div class="layui-input-inline">
                <input type="checkbox" id="showCase" #if($!{goods.showCase} == 1) checked #end title="橱窗">
                <input type="checkbox" id="invoice" #if($!{goods.invoice} == 1) checked #end title="发票">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <div class="site-demo-upload" style="position: relative;width: 200px;height: 200px;">
                    <img id="image_1" style="width: 200px;height: 200px;border-radius: 100%;">
                    <input type="hidden" name="imgUrl"/>
                    <div class="site-demo-upbar" style="position: absolute;top: 50%;left: 50%;margin: -18px 0 0 -56px;">
                        <input type="file" name="file" class="layui-upload-file">
                    </div>
                </div>
            </div>
            <div class="layui-input-inline">
                <div class="site-demo-upload" style="position: relative;width: 200px;height: 200px;">
                    <img id="image_2" style="width: 200px;height: 200px;border-radius: 100%;">
                    <input type="hidden" name="imgUrl"/>
                    <div class="site-demo-upbar" style="position: absolute;top: 50%;left: 50%;margin: -18px 0 0 -56px;">
                        <input type="file" name="file" class="layui-upload-file">
                    </div>
                </div>
            </div>
            <div class="layui-input-inline">
                <div class="site-demo-upload" style="position: relative;width: 200px;height: 200px;">
                    <img id="image_3" style="width: 200px;height: 200px;border-radius: 100%;">
                    <input type="hidden" name="imgUrl"/>
                    <div class="site-demo-upbar" style="position: absolute;top: 50%;left: 50%;margin: -18px 0 0 -56px;">
                        <input type="file" name="file" class="layui-upload-file">
                    </div>
                </div>
            </div>
            <div class="layui-input-inline">
                <div class="site-demo-upload" style="position: relative;width: 200px;height: 200px;">
                    <img id="image_4" style="width: 200px;height: 200px;border-radius: 100%;">
                    <input type="hidden" name="imgUrl"/>
                    <div class="site-demo-upbar" style="position: absolute;top: 50%;left: 50%;margin: -18px 0 0 -56px;">
                        <input type="file" name="file" class="layui-upload-file">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <div class="layui-input-block">
                <textarea name="summary" class="layui-textarea" placeholder="请输入商品简单描述" data-rule="描述:required;"
                          style="resize: none;width: 800px;">$!{goods.summary}</textarea>
            </div>
        </div>
        <textarea id="description" name="description" placeholder="请输入商品详情页" style="display: none;">$!{goods.description}</textarea>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="text-center">
                <button class="layui-btn" type="submit">提 交</button>
            </div>
        </div>
        <input type="hidden" id="showCaseVal" name="showCase" value="0">
        <input type="hidden" id="invoiceVal" name="invoice" value="0">
    </form>
</div>
#end
#override("js")
<script src="#springUrl('/static/plugins/layer-v3.0.3/layer/layer.js')"></script>
<script src="#springUrl('/static/plugins/nice-validator-1.0.10/dist/jquery.validator.js?local=zh-CN')"></script>
<script src="#springUrl('/static/plugins/layui/layui.js')"></script>
<script type="text/javascript">
    $("#myForm").validator({
        valid: function (form) {
            var rlt1 = $('#showCase').is(':checked');
            var rlt2 = $('#invoice').is(':checked');
            if (rlt1) {
                $('#showCaseVal').val(1);
            } else {
                $('#showCaseVal').val(0);
            }
            if (rlt2) {
                $('#invoiceVal').val(1);
            } else {
                $('#invoiceVal').val(0);
            }
            var me = this;
            // 提交表单之前，hold住表单，防止重复提交
            me.holdSubmit();
            $.ajax({
                url: "#springUrl('/product/goods/add/do.html')",
                data: $(form).serialize(),
                type: "POST",
                success: function (data) {
                    var d = JSON.parse(data);
                    if (d.success && d.data) {
                        alert("商品修改或添加成功!!!")
                        window.parent.location.href = "#springUrl('/product/goods/list.html')";
                        //当你在iframe页面关闭自身时
                        //var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        //parent.layer.close(index); //再执行关闭
                    } else {
                        alert(d.message);
                        //失败，提交表单成功后，释放hold，如果不释放hold，就变成了只能提交一次的表单
                        me.holdSubmit(false);
                    }
                }
            });
        }
    });

    layui.use('layedit', function () {
        var layedit = layui.layedit
        layedit.set({
            uploadImage: {
                url: "#springUrl('/upload.html')", //接口url
                type: '' //默认post
            }
        });
        layedit.build('description'); //建立编辑器

    });
    layui.use('upload', function () {
        layui.upload({
            url: '' //上传接口
            , success: function (res) { //上传成功后的回调
                console.log(res)
            }
        });

        layui.upload({
            url: '/test/upload.json'
            , elem: '#test' //指定原始元素，默认直接查找class="layui-upload-file"
            , method: 'get' //上传接口的http类型
            , success: function (res) {
                LAY_demo_upload.src = res.url;
            }
        });
    });
</script>
#end
#extends("/common/framework.html")
