<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reawei.mapper.RwExpressMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_id AS memberId, order_id AS orderId, express_no AS expressNo, status, description, create_time AS createTime, modify_time AS modifyTime
    </sql>

</mapper>
