<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reawei.mapper.RwProductImageMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, p_id AS pId, image_url AS imageUrl, create_time AS createTime, modify_time AS modifyTime
    </sql>

</mapper>
