<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reawei.mapper.RwProductMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, status, category_id AS categoryId, price, amount, sold_amount AS soldAmount, summary, description, show_case AS showCase, invoice, refund, warranty, discount, create_time AS createTime, modify_time AS modifyTime
    </sql>

</mapper>
